.tiling-icon
{
    width: 24px;
    height: 24px;
    background-image: url("images/indicator.png");
    background-size: 16px 16px;
}

.tiling-icon:hover
{
    background-image: url("images/indicator_hover.png");
}

.accelerator-label
{
    background-color: #656565;
    font-size: 12px;
    padding: 2px 5px;
    border: 1px solid #656565;
    border-radius: 10px;
}
